<footer class="text-center bg-body-tertiary">
    <!-- Grid container -->
    <!-- <div class="container pt-4">
        Section: Social media
        <section class="mb-4">
            Linkedin
            <a target="_blank" data-mdb-ripple-init class="btn btn-link btn-floating btn-lg text-body m-1"
                href="https://www.linkedin.com/in/elianjaimes/" role="button" data-mdb-ripple-color="dark"><i
                    class="fab fa-linkedin"></i></a>
            Github
            <a target="_blank" data-mdb-ripple-init class="btn btn-link btn-floating btn-lg text-body m-1"
                href="https://github.com/darkelian/CRUD_LER_Prevencion/tree/main" role="button"
                data-mdb-ripple-color="dark"><i class="fab fa-github"></i></a>
            Swagger
            <a target="_blank" data-mdb-ripple-init class="btn btn-link btn-floating btn-lg text-body m-1"
                href="http://localhost:8090/swagger-ui/index.html#/" role="button" data-mdb-ripple-color="dark"><i
                    class="fas fa-book"></i></a>
        </section>
        Section: Social media
    </div> -->
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2024 Copyright:
        <a class="text-body" href="https://github.com/darkelian">darkelian</a>
    </div>
    <!-- Copyright -->
</footer>
